<!DOCTYPE html>

<html>
<head>
    <title>Главная страница</title>
</head>

<body>
<h3>Заголовок</h3>

<p>Привет из первого представления!</p>

<p>
    <a href="~/home/employees">Список сотрудников</a>
</p>

<p>
    <img src="/qr/code?str=QWE" width="180"/>
</p>
</body>
</html>